.slider-list {
  position: relative;
  @include flex(row, flex-start, flex-start);
  width: 100%;
  height: 100%;
  // overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  z-index: 1;

  &__item {
    position: relative;
    @include flex(row, center, center);
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-right: 0;
    scroll-snap-align: center;
    transform-origin: center center;
    transform: scale(1);

    & .item {
      &__previous,
      &__next {
        display: block;
        position: absolute;
        // background-color: lightgreen;
        top: calc(50% + 8px);
        width: 48px;
        height: 70px;
        // pointer-events: none;
      }

      // &__previous::after,
      // &__next::after {
      //   position: absolute;
      //   content: '<';
      //   color: #ffffff;
      //   left: 0px;
      //   top: -5px;
      //   font-size: 84px;
      // }

      // &__next::after {
      //   content: '>';
      // }
    
      &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      // &__caption {
      //   position: absolute;
      //   color: $color-white;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   bottom: 50px;
      // }
    }
  }
}