.dots {
  @include flex(row, center, center);
  margin: 0 -10px;

  & .dots {
    &__item {
      border: 1px solid #ffffff;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 10px;

      &_active {
        background-color: #ffffff;
      }
    }
  }
}